openapi: 3.0.3
info:
  title: Coinbase International Exchange REST Specification
  version: '1.0'
servers:
  - url: 'https://api.international.coinbase.com'
paths:
  /api/v1/assets:
    get:
      tags:
        - Assets
      summary: List assets
      operationId: getAssets
      description: Returns a list of all supported assets.
      responses:
        '200':
          description: Asset list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Asset_v1'
  /api/v1/assets/{asset}:
    get:
      tags:
        - Assets
      summary: Get asset details
      operationId: getAsset
      description: Retrieves information for a specific asset.
      parameters:
        - name: asset
          in: path
          description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset_v1'
        '400':
          description: Invalid attribute
  /api/v1/assets/{asset}/networks:
    get:
      tags:
        - Assets
      summary: Get supported networks per asset
      operationId: getAssetNetworks
      description: Returns a list of supported networks and network information for a specific asset.
      parameters:
        - name: asset
          in: path
          description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Asset found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetNetwork_v1'
        '400':
          description: Invalid attribute
  /api/v1/index/{index}/composition:
    get:
      tags:
        - Index
      summary: Get index composition
      operationId: getIndexComposition
      description: Retrieves the latest index composition (metadata) with an ordered set of constituents.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: index
          in: path
          description: Identifies the index by name (e.g., `COIN50`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Latest index composition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexComposition_v1'
        '400':
          description: Invalid attribute
        '401':
          description: Authentication error
      security:
        - signature: []
  /api/v1/index/{index}/composition-history:
    get:
      tags:
        - Index
      summary: Get index composition history
      operationId: getIndexCompositionHistory
      description: Retrieves a history of index composition records in a descending time order. The results are an array of index composition data recorded at different “timestamps”.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: index
          in: path
          description: Identifies the index by name (e.g., `COIN50`)
          required: true
          schema:
            type: string
        - name: time_from
          in: query
          description: Filters look back history for returned data (accepts an ISO 8601 timestamp format)
          required: false
          schema:
            type: string
            example: '2024-10-31T00:00:00Z'
        - name: result_limit
          in: query
          description: The number of results to return (defaults to 5)
          required: false
          schema:
            type: integer
            example: 3
        - name: result_offset
          in: query
          description: The number of results from the beginning to skip past
          required: false
          schema:
            type: integer
            example: 0
      responses:
        '200':
          description: Index composition list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexComposition_v1'
        '400':
          description: Invalid attribute
        '401':
          description: Authentication error
      security:
        - signature: []
  /api/v1/index/{index}/price:
    get:
      tags:
        - Index
      summary: Get index price
      operationId: getIndexPrice
      description: Retrieves the latest index price
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: index
          in: path
          description: Identifies the index by name (e.g., `COIN50`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Latest index price
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexPrice_v1'
        '400':
          description: Invalid attribute
        '401':
          description: Authentication error
      security:
        - signature: []
  /api/v1/index/{index}/candles:
    get:
      tags:
        - Index
      summary: Get index candles
      operationId: getIndexCandles
      description: Retrieves the historical daily index prices in time descending order. The daily values are represented as aggregated entries for the day in typical OHLC format.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: index
          in: path
          description: Identifies the index by name (e.g., `COIN50`)
          required: true
          schema:
            type: string
        - name: granularity
          in: query
          description: The aggregation period of the candles data
          required: true
          type: string
          enum: ['ONE_DAY', 'ONE_HOUR']
        - name: start
          in: query
          description: Start timestamp in ISO 8601 timestamp format (e.g. `2024-10-21T00:00:00Z`)
          required: true
          schema:
            type: string
        - name: end
          in: query
          description: End timestamp in ISO 8601 timestamp format (e.g. `2024-10-31T00:00:00Z`)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Index Candle list
          content:
            application/json:
              schema:
                properties:
                  aggregations:
                    type: array
                    items:
                      $ref: '#/components/schemas/IndexCandles_v1'
        '400':
          description: Invalid attribute
        '401':
          description: Authentication error
      security:
        - signature: []
  /api/v1/instruments:
    get:
      tags:
        - Instruments
      summary: List instruments
      operationId: getInstruments
      description: Returns all of the instruments available for trading.
      responses:
        '200':
          description: Instrument list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Instrument_v1'
  /api/v1/instruments/{instrument}:
    get:
      tags:
        - Instruments
      summary: Get instrument details
      operationId: getInstrument
      description: Retrieves market information for a specific instrument.
      parameters:
        - name: instrument
          in: path
          description: Identifies the instrument by name (e.g., `BTC-USDC`), UUID (e.g., `ce55a827-f04a-45c0-9d9b-8bbdb9b48065`), or instrument ID (e.g., `7149252043835013`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Instrument
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instrument_v1'
        '400':
          description: Invalid attribute
  /api/v1/instruments/{instrument}/quote:
    get:
      tags:
        - Instruments
      summary: Get quote per instrument
      operationId: getInstrumentQuote
      description: Retrieves the current quote for a specific instrument.
      parameters:
        - name: instrument
          in: path
          description: Identifies the instrument by name (e.g., `BTC-USDC`), UUID (e.g., `ce55a827-f04a-45c0-9d9b-8bbdb9b48065`), or instrument ID (e.g., `7149252043835013`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Instrument list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentQuote_v1'
        '400':
          description: Invalid attribute
  /api/v1/instruments/volumes/daily:
    get:
      tags:
        - Instruments
      summary: Get daily trading volumes
      operationId: getInstrumentVolumesDaily
      description: Retrieves the trading volumes for each instrument separated by day.
      parameters:
        - name: instruments
          in: query
          description: Identifies the instruments by name in a comma separated list (e.g., `BTC-PERP,ETH-PERP`)
          required: true
          schema:
            type: string
        - name: result_limit
          in: query
          description: The number of results to return (defaults to 60 with a max supported value of 100)
          required: false
          schema:
            type: integer
            example: 30
        - name: result_offset
          in: query
          description: The number of results from the beginning to skip past
          required: false
          schema:
            type: integer
            example: 5
        - name: time_from
          in: query
          description: The first date to include data from in ISO 8601 timestamp format (e.g. `2024-03-01T00:00:00Z`)
          required: false
          schema:
            type: string
        - name: show_other
          in: query
          description: Return an `OTHER` bucket in the instrument list containing the volume of all instruments filtered out by the `instruments` query parameter
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Instrument list
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/PaginationBase_v1'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentDailyVolume_v1'
        '400':
          description: Invalid attribute
  /api/v1/instruments/{instrument}/candles:
    get:
      tags:
        - Instruments
      summary: Get aggregated candles data per instrument
      operationId: getInstrumentCandles
      description: Retrieves a list of aggregated candles data for a given instrument, granularity and time range
      parameters:
        - name: instrument
          in: path
          description: Identifies the instrument by name (e.g., `BTC-PERP`)
          required: true
          schema:
            type: string
        - name: granularity
          in: query
          description: The aggregation period of the candles data. End timestamp in ISO 8601 timestamp format (e.g. 2024-03-01T00:00:00Z).
          required: true
          type: string
          enum:
            [
              'ONE_DAY',
              'SIX_HOUR',
              'TWO_HOUR',
              'ONE_HOUR',
              'THIRTY_MINUTE',
              'FIFTEEN_MINUTE',
              'FIVE_MINUTE',
              'ONE_MINUTE',
            ]
        - name: start
          in: query
          description: Start timestamp in ISO 8601 timestamp format (e.g. `2024-03-01T00:00:00Z`)
          required: true
          schema:
            type: string
        - name: end
          in: query
          description: End timestamp in ISO 8601 timestamp format (e.g. `2024-03-01T00:00:00Z`)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Instrument list
          content:
            application/json:
              schema:
                properties:
                  aggregations:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentCandlesAggregation_v1'
        '400':
          description: Invalid attribute
  /api/v1/instruments/{instrument}/funding:
    get:
      tags:
        - Instruments
      summary: Get historical funding rates
      operationId: getInstrumentFunding
      description: Retrieves the historical funding rates for a specific instrument.
      parameters:
        - name: instrument
          in: path
          description: Identifies the instrument by name (e.g., `BTC-PERP`), UUID (e.g., `ce55a827-f04a-45c0-9d9b-8bbdb9b48065`), or instrument ID (e.g., `7149252043835013`)
          required: true
          schema:
            type: string
        - name: result_limit
          in: query
          description: The number of results to return (defaults to 25 with a max supported value of 100)
          required: false
          schema:
            type: integer
            example: 30
        - name: result_offset
          in: query
          description: The number of results from the beginning to skip past
          required: false
          schema:
            type: integer
            example: 50
      responses:
        '200':
          description: Funding Rates list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentFunding_v1'
        '400':
          description: Invalid attribute
  /api/v1/position-offsets:
    get:
      tags:
        - Position Offsets
      summary: List position offsets
      operationId: getPositionOffsets
      description: Returns all active position offsets
      responses:
        '200':
          description: Position offsets list
          content:
            application/json:
              schema:
                type: object
                properties:
                  position_offsets:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentPositionOffsetPair_v1'
  /api/v1/orders:
    post:
      tags:
        - Orders
      summary: Create order
      operationId: createOrder
      description: Creates a new order.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - client_order_id
                - side
                - size
                - tif
                - type
                - instrument
              properties:
                client_order_id:
                  description: "A unique identifier assigned by the client. Must meet one of the following constraints:\n - 18 characters long using all ASCII characters\n - 20 characters long using alphanumeric characters and dash (-)\n - 31 characters long using hexadecimal characters (0-9, a-f, lowercase and no preceding 0s)\n - A UUID using standard hyphenation and all lowercase (e.g., 36a9d3ee-32b7-460e-979a-121735af4824)"
                  type: string
                side:
                  $ref: '#/components/schemas/OrderSide'
                size:
                  description: The amount in base asset units
                  type: string
                tif:
                  $ref: '#/components/schemas/TimeInForce'
                  description: The time in force applied to an order. A Good Till Cancel (GTC) or Good Till Time (GTT) can last up to 30 days. An Immediate or Cancel (IOC) attempts to fill as much of the order as possible and/or cancels immediately when no resting orders meet or improve the order's price limit. A Fill or Kill (FOK) is canceled without filling if it does not completely fill immediately. Required for all order types except market orders.
                instrument:
                  description: The name, ID, or UUID of the instrument the order wants to transact
                  type: string
                type:
                  $ref: '#/components/schemas/OrderType'
                  description: The type of order being submitted
                price:
                  description: The max or min price limit in quote asset units to buy or sell at (respectively). Only used for limit and stop limit order types.
                  type: string
                stop_price:
                  description: The market price that activates a stop order
                  type: string
                stop_limit_price:
                  description: The limit price at which the TP/SL stop leg order will be placed. Only used for TP/SL order type.
                  type: string
                expire_time:
                  description: The expiration time required for orders with the time in force set to GTT. Must not go beyond 30 days of the current time. Uses ISO-8601 format (e.g., 2023-03-16T23:59:53Z).
                  type: string
                  format: date-time
                portfolio:
                  description: The ID or UUID of the portfolio the order belongs to (uses default portfolio if not defined)
                  type: string
                stp_mode:
                  $ref: '#/components/schemas/SelfTradePreventionMode'
                  description: Specifies the behavior for self match handling. None disables the functionality, new cancels the newest order, and both cancels both orders.
                post_only:
                  description: Only submit the order if it will rest on the order book
                  type: boolean
                close_only:
                  description: Only submit the order if it will close an existing order
                  type: boolean
                algo_strategy:
                  $ref: '#/components/schemas/AlgoStrategy'
                  description: The algorithmic trading strategy to use for the order
      responses:
        '200':
          description: Order submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
    get:
      tags:
        - Orders
      summary: List open orders
      operationId: getOrders
      description: Returns a list of active orders resting on the order book matching the requested criteria. Does not return any rejected, cancelled, or fully filled orders as they are not active.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: query
          required: false
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          schema:
            type: string
        - name: instrument
          in: query
          required: false
          description: Identifies the instrument by name (e.g., `BTC-USDC`), UUID (e.g., `ce55a827-f04a-45c0-9d9b-8bbdb9b48065`), or instrument ID (e.g., `7149252043835013`)
          schema:
            type: string
        - name: instrument_type
          in: query
          required: false
          description: 'Identifies the instruments by type . Allowed values: SPOT, PERPETUAL_FUTURE'
          schema:
            type: string
        - name: client_order_id
          in: query
          required: false
          description: The client order ID that was used when the order was created
          schema:
            type: string
        - name: event_type
          in: query
          required: false
          description: 'The most recent type of event that happened to the order. Allowed values: NEW, TRADE, REPLACED'
          schema:
            $ref: '#/components/schemas/OrderEventType'
        - name: order_type
          in: query
          required: false
          description: 'The type of order. Allowed values: LIMIT, MARKET, STOP, STOP_LIMIT'
          schema:
            $ref: '#/components/schemas/OrderType'
        - name: side
          in: query
          required: false
          description: 'Identifies the side by name (e.g., `BUY`, `SELL`)'
          schema:
            $ref: '#/components/schemas/OrderSide'
        - $ref: '#/components/parameters/ref_datetime'
        - $ref: '#/components/parameters/result_limit'
        - $ref: '#/components/parameters/result_offset'
      responses:
        '200':
          description: Order matches found
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination_v1'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
    delete:
      tags:
        - Orders
      summary: Cancel orders
      operationId: cancelOrders
      description: Cancels all orders matching the requested criteria.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: query
          required: true
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          schema:
            type: string
        - name: instrument
          in: query
          required: false
          description: Identifies the instrument by name (e.g., `BTC-USDC`), UUID (e.g., `ce55a827-f04a-45c0-9d9b-8bbdb9b48065`), or instrument ID (e.g., `7149252043835013`)
          schema:
            type: string
        - name: side
          in: query
          required: false
          description: Identifies the side by name (e.g., `BUY`, `SELL`)
        - name: instrument_type
          in: query
          required: false
          description: 'Identifies the instruments by type . Allowed values: SPOT, PERPETUAL_FUTURE'
          schema:
            type: string
      responses:
        '200':
          description: Order submitted
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/orders/{id}:
    put:
      tags:
        - Orders
      summary: Modify open order
      operationId: modifyOrder
      description: Modifies an open order.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: id
          in: path
          required: true
          description: The exchange order ID or Client Order ID of the order being modified
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - client_order_id
                - portfolio
              properties:
                client_order_id:
                  description: "A unique identifier assigned by the client to the modified order. Must meet one of the following constraints:\n - 18 characters long using all ASCII characters\n - 20 characters long using alphanumeric characters and dash (-)\n - 31 characters long using hexadecimal characters (0-9, a-f, lowercase and no preceding 0s)\n - A UUID using standard hyphenation and all lowercase (e.g., 36a9d3ee-32b7-460e-979a-121735af4824)"
                  type: string
                  format: uuid
                portfolio:
                  description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`); must match the original order referenced in the ID of the path
                  type: string
                  format: uuid
                price:
                  description: The max or min price limit in quote asset units to buy or sell at (respectively). Only used for limit and stop limit order types.
                  type: string
                stop_price:
                  description: The market price that activates a stop order
                  type: string
                size:
                  description: The amount in base asset units
                  type: string
      responses:
        '200':
          description: Order modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
    get:
      tags:
        - Orders
      summary: Get order details
      operationId: getOrder
      description: Retrieves a single order. The order retrieved can be either active or inactive.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: id
          in: path
          description: The exchange order ID of the order (not the client order ID)
          required: true
          schema:
            type: string
        - name: portfolio
          in: query
          required: true
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          schema:
            type: string
      responses:
        '200':
          description: Order found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
    delete:
      tags:
        - Orders
      summary: Cancel order
      operationId: cancelOrder
      description: Cancels a single open order.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: id
          in: path
          description: The exchange order ID or Client Order ID of the order
          required: true
          schema:
            type: string
        - name: portfolio
          in: query
          required: true
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          schema:
            type: string
      responses:
        '200':
          description: Order canceled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/orders/preview:
    post:
      tags:
        - false # Hide from Swagger UI. UI specific endpoint.
      summary: Preview order
      operationId: previewOrder
      description: Previews a new order.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - portfolio
                - side
                - size
                - type
                - instrument
              properties:
                side:
                  $ref: '#/components/schemas/OrderSide'
                size:
                  description: The amount in base asset units
                  type: string
                tif:
                  $ref: '#/components/schemas/TimeInForce'
                  description: The time in force applied to an order. A Good Till Cancel (GTC) or Good Till Time (GTT) can last up to 30 days while an Immediate Or Cancel (IOC) attempts to fill as much of the order as possible and/or cancels immediately when no resting orders meet or improve the order's price limit. Required for all order types except market orders.
                instrument:
                  description: The name, ID, or UUID of the instrument the order wants to transact
                  type: string
                type:
                  $ref: '#/components/schemas/OrderType'
                  description: The type of order being submitted
                price:
                  description: The max or min price limit in quote asset units to buy or sell at (respectively). Only used for limit and stop limit order types.
                  type: string
                stop_price:
                  description: The market price that activates a stop order
                  type: string
                stop_limit_price:
                  description: The limit price at which the TP/SL stop leg order will be placed. Only used for TP/SL order type.
                  type: string
                expire_time:
                  description: The expiration time required for orders with the time in force set to GTT. Must not go beyond 30 days of the current time. Uses ISO-8601 format (e.g., 2023-03-16T23:59:53Z).
                  type: string
                  format: date-time
                portfolio:
                  description: The ID or UUID of the portfolio the order belongs to (uses default portfolio if not defined)
                  type: string
                stp_mode:
                  $ref: '#/components/schemas/SelfTradePreventionMode'
                  description: Specifies the behavior for self match handling. None disables the functionality, new cancels the newest order, and both cancels both orders.
                post_only:
                  description: Only submit the order if it will rest on the order book
                  type: boolean
                close_only:
                  description: Only submit the order if it will close an existing order
                  type: boolean
      responses:
        '200':
          description: Order previewed
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_valid:
                    description: Returns whether or not the order form values are valid
                    type: boolean
                  best_bid_price:
                    description: The highest buy order price resting on the book
                    type: string
                    example: 20000.50
                  best_ask_price:
                    description: The lowest sell order price resting on the book
                    type: string
                    example: 20001.75
                  mark_price:
                    description: The current mark price value used in risk and margin calculations
                    type: string
                    example: 20000.63
                  new_open_size:
                    description: TBD
                    type: string
                    example: 10.0
                  open_size_delta:
                    description: TBD
                    type: string
                    example: 10
                  new_open_notional:
                    description: TBD
                    type: string
                    example: 20002.23
                  open_notional_delta:
                    description: TBD
                    type: string
                    example: 20002.23
                  new_total_value_usd:
                    description: TBD
                    type: string
                    example: 200020.23
                  new_open_cost_basis:
                    description: TBD
                    type: string
                    example: 2000.0
                  new_margin_fraction:
                    description: TBD
                    type: string
                    example: 99.9996
                  maker_fee_estimate:
                    description: The estimated fee rate charged for order making liquidity
                    type: string
                    example: 0.02
                  taker_fee_estimate:
                    description: The estimated fee rate charged for orders taking liquidity
                    type: string
                    example: 0.04
                  initial_margin:
                    description: TBD
                    type: string
                    example: 40000.0
                  required_margin_delta:
                    description: TBD
                    type: string
                    example: 40000.0
                  reject_reason:
                    description: TBD
                    type: string
                    example: 40000.0
                  reject_details:
                    description: TBD
                    type: string
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios:
    get:
      tags:
        - Portfolios
      summary: List all user portfolios
      operationId: getPortfolios
      description: Returns all of the user's portfolios.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      responses:
        '200':
          description: Portfolio list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Portfolio_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
    post:
      tags:
        - Portfolios
      summary: Create portfolio
      operationId: createPortfolio
      description: Create a new portfolio. Request will fail if no name is provided or if user already has max number of portfolios. Max number of portfolios is 20.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  description: The name of the portfolio
                  type: string
      responses:
        '200':
          description: New portfolio created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
    patch:
      tags:
        - Portfolios
      summary: Patch portfolio
      operationId: patchPortfolio
      description: Update parameters for existing portfolio
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_margin_enabled:
                  description: Whether auto margin is enabled for the portfolio
                  type: boolean
                cross_collateral_enabled:
                  description: Whether cross collateral is enabled for the portfolio
                  type: boolean
                position_offsets_enabled:
                  description: Whether position offsets is enabled for the portfolio
                  type: boolean
                pre_launch_trading_enabled:
                  description: Whether pre-launch trading is enabled for the portfolio
                  type: boolean
                portfolio_name:
                  description: Display name for portfolio
                  type: string
      responses:
        '200':
          description: Portfolio is updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio_v1'
        '400':
          description: Portfolio update failed
        '403':
          description: Invalid permission
  /api/v1/portfolios/{portfolio}:
    get:
      tags:
        - Portfolios
      summary: Get user portfolio
      operationId: getPortfolio
      description: Returns the user's specified portfolio.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
    put:
      tags:
        - Portfolios
      summary: Update portfolio
      operationId: updatePortfolio
      description: Update existing user portfolio.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  description: A unique name for the portfolio
                  type: string
      responses:
        '200':
          description: Portfolio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/detail:
    get:
      tags:
        - Portfolios
      summary: Get portfolio details
      operationId: getPortfolioDetail
      description: Retrieves the summary, positions, and balances of a portfolio.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Portfolio information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioDetail_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/summary:
    get:
      tags:
        - Portfolios
      summary: Get portfolio summary
      operationId: getPortfolioSummary
      description: Retrieves the high level overview of a portfolio.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Portfolio information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioSummary_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/balances:
    get:
      tags:
        - Portfolios
      summary: List portfolio balances
      operationId: getPortfolioBalances
      description: Returns all of the balances for a given portfolio.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Balance information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortfolioBalance_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/balances/{asset}:
    get:
      tags:
        - Portfolios
      summary: Get balance for portfolio/asset
      operationId: getPortfolioBalance
      description: Retrieves the balance for a given portfolio and asset.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
        - name: asset
          in: path
          description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Balance information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioBalance_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/loans:
    get:
      tags:
        - Portfolios
      summary: List active loans for the portfolio
      operationId: getPortfolioLoans
      description: Retrieves all loan info for a given portfolio.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Loan information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortfolioLoanInfoResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/loans/{asset}:
    get:
      tags:
        - Portfolios
      summary: Get loan info for portfolio/asset
      operationId: getPortfolioLoan
      description: Retrieves the loan info for a given portfolio and asset.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
        - name: asset
          in: path
          description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Loan information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioLoanInfoResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
    post:
      tags:
        - Portfolios
      summary: Acquire/repay loan
      operationId: updatePortfolioLoan
      description: Acquire or repay loan for a given portfolio and asset.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
        - name: asset
          in: path
          description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - amount
              properties:
                action:
                  $ref: '#/components/schemas/LoanUpdateAction'
                  description: The loan update action to take
                amount:
                  description: The amount of the loan to acquire or repay in quantity
                  type: string
                  example: 1000
      responses:
        '200':
          description: Loan update result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioUpdateLoanResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/loans/{asset}/preview:
    post:
      tags:
        - Portfolios
      summary: Preview loan update
      operationId: previewUpdatePortfolioLoan
      description: Preview acquire or repay loan for a given portfolio and asset.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
        - name: asset
          in: path
          description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - amount
              properties:
                action:
                  $ref: '#/components/schemas/LoanUpdateAction'
                  description: The loan update action to take
                amount:
                  description: The amount of the loan to acquire or repay in quantity
                  type: string
                  example: 1000
      responses:
        '200':
          description: Loan update preview result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPreviewLoanUpdateResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []

  /api/v1/portfolios/{portfolio}/loans/{asset}/availability:
    get:
      tags:
        - Portfolios
      summary: View max loan availability
      operationId: portfolioLoanAvailability
      description: View the maximum amount of loan that could be acquired now
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
        - name: asset
          in: path
          description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Max loan amount available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioGetAvailableLoanResult_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []

  /api/v1/portfolios/{portfolio}/positions:
    get:
      tags:
        - Portfolios
      summary: List portfolio positions
      operationId: getPortfolioPositions
      description: Returns all of the positions for a given portfolio.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Position information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortfolioPosition_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/positions/{instrument}:
    get:
      tags:
        - Portfolios
      summary: Get position for portfolio/instrument
      operationId: getPortfolioPosition
      description: Retrieves the position for a given portfolio and symbol.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
        - name: instrument
          in: path
          description: Identifies the instrument by name (e.g., `BTC-USDC`), UUID (e.g., `ce55a827-f04a-45c0-9d9b-8bbdb9b48065`), or instrument ID (e.g., `7149252043835013`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Position information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioPosition_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/position-limits:
    get:
      tags:
        - Portfolios
      summary: Get the total open position limit the portfolio
      operationId: getPortfolioPositionLimits
      description: Retrieves the total open position limit across instruments for a given portfolio.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Position limits information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnerTotalOpenPositionLimits_V1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/position-limits/positions:
    get:
      tags:
        - Portfolios
      summary: List the open position limits for all instruments
      operationId: getPortfolioPositionLimitsAllInstruments
      description: Retrieves position limits for all positions a given portfolio currently has or has opened in the past.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Position limits information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BeneficialOwnerPosition_V1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/position-limits/positions/{instrument}:
    get:
      tags:
        - Portfolios
      summary: Get the open position limits for the portfolio instrument
      operationId: getPortfolioPositionLimitsInstrument
      description: Retrieves the position limits for a given portfolio and symbol.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
        - name: instrument
          in: path
          description: Identifies the instrument by name (e.g., `BTC-USDC`), UUID (e.g., `ce55a827-f04a-45c0-9d9b-8bbdb9b48065`), or instrument ID (e.g., `7149252043835013`)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Position limits information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnerPosition_V1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/fills:
    get:
      tags:
        - Portfolios
      summary: List fills by portfolios
      operationId: getMultiPortfolioFills
      description: Returns fills for specified portfolios or fills for all portfolios if none are provided.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolios
          in: query
          description: The UUID of the portfolio that has filled orders. Can multiple values in the query
          required: false
          schema:
            type: string
            example: 17ac272b-18af-4d12-91de-d0182d559a3c
        - name: order_id
          in: query
          description: A specific order for which to fetch fills identified by order ID
          required: false
          schema:
            type: string
            example: 43877033468085758
        - name: client_order_id
          in: query
          description: Fetch fills for all orders with the given client order ID
          required: false
          schema:
            type: string
            example: ABC123
        - $ref: '#/components/parameters/ref_datetime'
        - $ref: '#/components/parameters/result_limit'
        - $ref: '#/components/parameters/result_offset'
        - $ref: '#/components/parameters/time_from'
      responses:
        '200':
          description: Fill information
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination_v1'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortfolioFill_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/fills:
    get:
      tags:
        - Portfolios
      summary: List portfolio fills
      operationId: getPortfolioFills
      description: Returns all of the fills for a given portfolio.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio
          in: path
          description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
          required: true
          schema:
            type: string
        - name: order_id
          in: query
          description: A specific order for which to fetch fills identified by order ID
          required: false
          schema:
            type: string
            example: 43877033468085758
        - name: client_order_id
          in: query
          description: Fetch fills for all orders with the given client order ID
          required: false
          schema:
            type: string
            example: ABC123
        - $ref: '#/components/parameters/ref_datetime'
        - $ref: '#/components/parameters/result_limit'
        - $ref: '#/components/parameters/result_offset'
        - $ref: '#/components/parameters/time_from'
      responses:
        '200':
          description: Fill information
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination_v1'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/PortfolioFill_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/portfolios/{portfolio}/cross-collateral-enabled:
    post:
      tags:
        - Portfolios
      summary: Enable/Disable portfolio cross collateral
      operationId: crossCollateralEnabled
      description: Enable or disable the cross collateral feature for the portfolio, which allows the portfolio to use non-USDC assets as collateral for margin trading.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - enabled
              properties:
                enabled:
                  description: Whether cross collateral is enabled for the portfolio
                  type: boolean
      responses:
        '200':
          description: Cross collateral setting updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio_v1'
        '400':
          description: Cross collateral setting update failed
        '403':
          description: Invalid permission
  /api/v1/portfolios/{portfolio}/auto-margin-enabled:
    post:
      tags:
        - Portfolios
      summary: Enable/Disable portfolio auto margin mode
      operationId: autoMarginEnabled
      description: Enable or disable the auto margin feature, which lets the portfolio automatically post margin amounts required to exceed the high leverage position restrictions.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - enabled
              properties:
                enabled:
                  description: Whether auto margin is enabled for the portfolio
                  type: boolean
      responses:
        '200':
          description: Auto margin setting updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio_v1'
        '400':
          description: Auto margin setting update failed
        '403':
          description: Invalid permission
  /api/v1/portfolios/margin:
    post:
      tags:
        - Portfolios
      summary: Set portfolio margin override
      operationId: setPortfolioMarginOverride
      description: Specify the margin override value for a portfolio to either increase notional requirements or opt-in to higher leverage.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - portfolio_id
                - margin_override
              properties:
                portfolio_id:
                  description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
                  type: string
                margin_override:
                  description: The margin override value for the portfolio. Specified as a decimal value representing notional requirement (e.g., 0.1 = 10% notional requirement, 0.25 = 25% notional requirement)
                  type: string
      responses:
        '200':
          description: Portfolio margin override set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioUpdateMarginOverride_v1'
        '400':
          description: Invalid attribute
        '403':
          description: Invalid permission
  /api/v1/portfolios/transfer:
    post:
      tags:
        - Portfolios
      summary: Transfer funds between portfolios
      operationId: createPortfolioAssetTransfer
      description: Transfer assets from one portfolio to another.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - asset
                - amount
              properties:
                from:
                  description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`) to transfer funds from
                  type: string
                to:
                  description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`) to transfer funds to
                  type: string
                asset:
                  description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
                  type: string
                amount:
                  description: The amount of the asset being transferred
                  type: string
      responses:
        '200':
          description: Transfer processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    description: true if the transfer was successful
                    type: boolean
                    example: true
        '400':
          description: Invalid attribute
        '403':
          description: Invalid permission
      security:
        - signature: []
  /api/v1/portfolios/transfer-position:
    post:
      tags:
        - Portfolios
      summary: Transfer positions between portfolios
      operationId: createPortfolioPositionTransfer
      description: Transfer an existing position from one portfolio to another. The position transfer must fulfill the same portfolio-level margin requirements as submitting a new order on the opposite side for the sender's portfolio and a new order on the same side  for the recipient's portfolio. Additionally, organization-level requirements must be satisfied when evaluating the outcome of the position transfer.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - from
                - to
                - instrument
                - quantity
                - side
              properties:
                from:
                  description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`) to transfer positions from
                  type: string
                to:
                  description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`) to transfer positions to
                  type: string
                instrument:
                  description: Identifies the instrument by name (e.g., `BTC-PERP`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or instrument ID (e.g., `1482439423963469`)
                  type: string
                quantity:
                  description: The full or partial quantity of the position being transferred
                  type: string
                side:
                  description: The side of the position being transferred, BUY or SELL
                  type: string
      responses:
        '200':
          description: Transfer processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    description: true if the transfer was successful
                    type: boolean
                    example: true
        '400':
          description: Invalid attribute
        '403':
          description: Invalid permission
      security:
        - signature: []
  /api/v1/portfolios/fee-rates:
    get:
      tags:
        - Portfolios
      summary: List portfolio fee rates
      operationId: getPortfoliosFeeRates
      description: Retrieves the Perpetual Future and Spot fee rate tiers for the user.
      responses:
        '200':
          description: Fee rate tiers list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortfolioFeeRate_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/rankings/statistics:
    get:
      tags:
        - Rankings
      summary: Get your rankings
      operationId: getStatistics
      description: Retrieve your volume rankings for maker, taker, and total volume.
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: instrument_type
          in: query
          required: true
          description: 'Identifies the instruments by type . Allowed values: SPOT, PERPETUAL_FUTURE'
          schema:
            type: string
            enum: ['SPOT', 'PERPETUAL_FUTURE']
        - name: period
          in: query
          required: false
          description: 'Identifies the lookback window for the query . Allowed values: YESTERDAY, LAST_7_DAYS, THIS_MONTH, LAST_30_DAYS, LAST_MONTH. Default: THIS_MONTH'
          schema:
            type: string
            enum:
              [
                'YESTERDAY',
                'LAST_7_DAYS',
                'THIS_MONTH',
                'LAST_30_DAYS',
                'LAST_MONTH',
              ]
        - name: instruments
          in: query
          description: One or more instrument identifiers, such as name (e.g., `BTC-USDC`), UUID (e.g., `ce55a827-f04a-45c0-9d9b-8bbdb9b48065`), or instrument ID (e.g., `7149252043835013`). If not provided, the query will return the rankings for all instruments of the specified type. If one or more instruments are specified, the query will return the volume and relative percent for all specified instruments, but the returned rank will be "--".
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Ranking information
          content:
            application/json:
              schema:
                type: object
                properties:
                  last_updated:
                    description: The time of the most recent status change of the statistics
                    type: string
                    format: date-time
                    example: 2023-01-29T14:32:28Z
                  statistics:
                    type: object
                    properties:
                      maker:
                        $ref: '#/components/schemas/Rankings_v1'
                      taker:
                        $ref: '#/components/schemas/Rankings_v1'
                      total:
                        $ref: '#/components/schemas/Rankings_v1'
        '400':
          description: Invalid attribute
        '401':
          description: Authentication error
      security:
        - signature: []
  /api/v1/transfers:
    get:
      tags:
        - Transfers
      summary: List matching transfers
      operationId: getTransfers
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: portfolio [DEPRECATED]
          in: query
          description: Identifies a portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`). If a portfolio identifier is provided under this param, it will be added to the list of values under `portfolios`
          schema:
            type: string
        - name: portfolios
          in: query
          description: Identifies the portfolios by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`). Can provide single or multiple portfolios to filter by or fetches transfers for all portfolios if none are provided.
          schema:
            type: string
        - name: time_from
          in: query
          description: Only find transfers updated after this time. Uses ISO-8601 format (e.g., 2023-03-16T23:59:53Z)
          schema:
            type: string
            format: date-time
            example: 2023-03-16T23:59:53Z
        - name: time_to
          in: query
          description: Only find transfers updated before this time. Uses ISO-8601 format (e.g., 2023-03-16T23:59:53Z)
          schema:
            type: string
            format: date-time
            example: 2023-03-16T23:59:53Z
        - $ref: '#/components/parameters/result_limit'
        - $ref: '#/components/parameters/result_offset'
        - name: status
          in: query
          description: The current status of transfer
          schema:
            $ref: '#/components/schemas/TransferStatus'
        - name: type
          in: query
          description: The type of transfer (defaults to ALL if not defined)
          schema:
            $ref: '#/components/schemas/TransferType'
      responses:
        '200':
          description: Matching transfers
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/PaginationBase_v1'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transfer_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/transfers/{transfer_uuid}:
    get:
      tags:
        - Transfers
      summary: Get transfer
      operationId: getTransfer
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
        - name: transfer_uuid
          in: path
          description: The UUID of the transfer request
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Matching transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/transfers/withdraw:
    post:
      tags:
        - Transfers
      summary: Withdraw to crypto address
      operationId: withdraw
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - portfolio
                - asset
                - amount
                - add_network_fee_to_total
                - network_arn_id
                - address
              properties:
                portfolio:
                  description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
                  type: string
                asset:
                  description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
                  type: string
                amount:
                  description: The amount of the asset being transferred
                  type: string
                add_network_fee_to_total:
                  description: if true, deducts network fee from the portfolio, otherwise deduct fee from the withdrawal
                  type: boolean
                network_arn_id:
                  description: Identifies the blockchain network (e.g., `networks/ethereum-mainnet/assets/313ef8a9-ae5a-5f2f-8a56-572c0e2a4d5a`)
                  type: string
                  example: networks/ethereum-mainnet/assets/313ef8a9-ae5a-5f2f-8a56-572c0e2a4d5a
                address:
                  description: Crypto address being validated against
                  type: string
                  example: 0x999e7e2dbce48fb973dff84926c4d24abe59d33c
                nonce:
                  description: a unique integer representing the withdrawal request
                  type: integer
                  example: 30
      responses:
        '200':
          description: Withdrawal Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCryptoWithdrawalResult_V1'
        '400':
          description: Withdrawal Failed
      security:
        - signature: []
  /api/v1/transfers/address:
    post:
      tags:
        - Transfers
      summary: Create crypto address
      operationId: createAddress
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - portfolio
                - asset
                - network_arn_id
              properties:
                portfolio:
                  description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
                  type: string
                asset:
                  description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
                  type: string
                network_arn_id:
                  description: Identifies the blockchain network (e.g., `networks/ethereum-mainnet/assets/313ef8a9-ae5a-5f2f-8a56-572c0e2a4d5a`)
                  type: string
                  example: networks/ethereum-mainnet/assets/313ef8a9-ae5a-5f2f-8a56-572c0e2a4d5a
      responses:
        '200':
          description: Address created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/transfers/create-counterparty-id:
    post:
      tags:
        - Transfers
      summary: Create counterparty Id
      operationId: createCounterpartyId
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - portfolio
              properties:
                portfolio:
                  description: Identifies the portfolio by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
                  type: string
      responses:
        '200':
          description: Counterparty Id created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCounterpartyIdResponse_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/transfers/validate-counterparty-id:
    post:
      tags:
        - Transfers
      summary: Validate counterparty Id
      operationId: validateCounterpartyId
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - counterparty_id
              properties:
                counterparty_id:
                  description: Counterparty Id to be validated
                  type: string
                  example: CBTQDGENHE
      responses:
        '200':
          description: Return whether the counterparty Id is valid to withdraw to
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCounterpartyIdResponse_v1'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/transfers/withdraw/counterparty:
    post:
      tags:
        - Transfers
      summary: Withdraw to counterparty Id
      operationId: counterpartyWithdraw
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - portfolio
                - counterparty_id
                - asset
                - amount
                - nonce
              properties:
                portfolio:
                  description: Identifies the portfolio to withdraw from by UUID (e.g., `892e8c7c-e979-4cad-b61b-55a197932cf1`) or portfolio ID (e.g., `5189861793641175`)
                  type: string
                counterparty_id:
                  description: Counterparty Id to withdraw to
                  type: string
                  example: CBTQDGENHE
                asset:
                  description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
                  type: string
                amount:
                  description: The amount of the asset being transferred
                  type: string
                nonce:
                  description: A unique positive integer representing the withdrawal request
                  type: integer
                  example: 30
      responses:
        '200':
          description: Counterparty withdrawal initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCounterpartyWithdrawResult_v1'
        '400':
          description: Counterparty withdrawal Failed
      security:
        - signature: []
  /api/v1/transfers/fee-estimate:
    post:
      tags:
        - false # Hide from Swagger UI. UI specific endpoint.
      summary: Get fee estimate
      operationId: fee-estimate
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - asset
                - network_arn
              properties:
                asset:
                  description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
                  type: string
                network_arn:
                  description: Identifies the blockchain network (e.g., `networks/ethereum-mainnet`)
                  type: string
                  example: networks/ethereum-mainnet
      responses:
        '200':
          description: Complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeEstimateResponse'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/transfers/address/validate:
    post:
      tags:
        - false # Hide from Swagger UI. UI specific endpoint.
      summary: Validate network address
      operationId: validate-address
      parameters:
        - $ref: '#/components/parameters/auth_client_id'
        - $ref: '#/components/parameters/auth_timestamp'
        - $ref: '#/components/parameters/auth_passphrase'
        - $ref: '#/components/parameters/auth_signature'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - address
                - asset
                - network_arn_id
              properties:
                address:
                  description: Crypto address being validated against
                  type: string
                  example: 0x999e7e2dbce48fb973dff84926c4d24abe59d33c
                asset:
                  description: Identifies the asset by name (e.g., `BTC`), UUID (e.g., `291efb0f-2396-4d41-ad03-db3b2311cb2c`), or asset ID (e.g., `1482439423963469`)
                  type: string
                network_arn_id:
                  description: Identifies the blockchain network (e.g., `networks/ethereum-mainnet`)
                  type: string
                  example: networks/ethereum-mainnet
      responses:
        '200':
          description: Complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressValidationResponse'
        '400':
          description: Invalid attribute
      security:
        - signature: []
  /api/v1/fee-rate-tiers:
    get:
      tags:
        - Fee Rates
      summary: List fee rate tiers
      operationId: getFeeRateTiers
      description: Return all the fee rate tiers.
      responses:
        '200':
          description: Fee rate tiers list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeeRateTier_v1'
components:
  schemas:
    PaginationBase_v1:
      type: object
      properties:
        result_limit:
          description: The number of results to return (defaults to 25 with a max supported value of 100)
          type: integer
          example: 30
        result_offset:
          description: The number of results from the beginning to skip past
          type: integer
          example: 50
    Pagination_v1:
      allOf:
        - $ref: '#/components/schemas/PaginationBase_v1'
      type: object
      properties:
        ref_datetime:
          description: The datetime from which to search (results are returned from `ref_datetime` in chronological order starting with the most recent). Uses ISO-8601 format (e.g., 2023-03-16T23:59:53Z)
          type: string
          format: date-time
          example: 2023-03-16T23:59:53Z
    Asset_v1:
      type: object
      properties:
        asset_id:
          description: A unique identifier to represent the asset specifically on the exchange
          type: string
          example: 3351829018369611
        asset_uuid:
          description: A UUID to represent the asset (portable across other Coinbase systems)
          type: string
          format: uuid
          example: 592a8039-db3e-45ed-b752-ffd1983eead2
        asset_name:
          description: The name of the asset
          type: string
          example: BTC
        status:
          $ref: '#/components/schemas/AssetStatus'
        collateral_weight:
          description: The haircut value applied to the asset when used as collateral
          type: number
          format: double
          example: 0.90
        supported_networks_enabled:
          type: boolean
          example: true
        min_borrow_qty:
          type: string
          example: 10
        max_borrow_qty:
          type: string
          example: 1000000
        loan_collateral_requirement_multiplier:
          type: number
          format: double
          example: 1.2
        # account_collateral_limit:
        #   type: string
        #   example: 1000
        ecosystem_collateral_limit_breached:
          type: boolean
          example: false
        loan_initial_margin:
          description: The initial margin requirement for borrowing this asset
          type: string
          example: 0.15
        max_loan_leverage:
          description: The maximum amount of leverage a user can have on a loan of this asset
          type: string
          example: 3
    AssetNetwork_v1:
      type: object
      properties:
        asset_id:
          description: A unique identifier to represent the asset
          type: string
          example: 3379757734632303
        asset_uuid:
          description: A UUID to represent the asset
          type: string
          format: uuid
          example: 592a8039-db3e-45ed-b752-ffd1983eead2
        asset_name:
          description: The name of the asset
          type: string
          example: ETH
        network_arn_id:
          description: A unique identifier representing the combination of the network and asset
          type: string
          example: networks/ethereum-mainnet/assets/313ef8a9-ae5a-5f2f-8a56-572c0e2a4d5a
        min_withdrawal_amt:
          description: The minimum amount of the asset that can be withdrawn from the network
          type: string
          example: 0.001
        max_withdrawal_amt:
          description: The maximum amount of the asset that can be withdrawn from the network
          type: string
          example: 355.575
        network_confirms:
          description: The number of confirmations required on the network for a transaction
          type: integer
          example: 5
        processing_time:
          description: Number of seconds estimated to process a transaction on the network
          type: integer
          example: 3600
        is_default:
          description: Indicates whether this is the default network for the asset
          type: boolean
        network_name:
          description: The common name of the network
          type: string
          example: ethereum
        display_name:
          description: The human readable name of the network
          type: string
          example: Ethereum
    IndexComposition_v1:
      type: object
      properties:
        product_id:
          description: The Product ID for the index
          type: string
          example: 'COIN50'
        divisor:
          description: The index divisor
          type: string
          example: 3935813421.91702
        timestamp:
          description: The snapshot timestamp for this index composition
          type: string
          example: '2024-11-11T14:47:26Z'
        inception_timestamp:
          description: The timestamp of when this index was first created
          type: string
          example: '2020-12-31T00:00:00Z'
        last_rebalance:
          description: The timestamp of when the last index rebalance occurred
          type: string
          example: '2024-08-30T00:00:00Z'
        constituents:
          type: array
          items:
            $ref: '#/components/schemas/IndexConstituent_v1'
    IndexConstituent_v1:
      type: object
      properties:
        symbol:
          description: The constituent asset pair symbol
          type: string
          example: 'BTC-USD'
        name:
          description: The constituent name
          type: string
          example: 'Bitcoin'
        rank:
          description: The constituent rank order in the index
          type: number
          format: double
          example: 1.0
        cap_factor:
          description: The constituent market cap factor (or multiplier)
          type: string
          example: '0.456192678887042'
        amount:
          description: The constituent amount
          type: string
          example: '19745468'
        market_cap:
          description: The constituent total market cap
          type: string
          example: '1625637364529.9463'
        index_market_cap:
          description: The constituent market cap represented in the index
          type: string
          example: '741603864223.787'
        weight:
          description: The weight of the constituent in the index
          type: string
          example: '0.5130230783794717'
        running_weight:
          description: The running weight of the constituent in the index
          type: string
          example: '0.5130230783794717'
    IndexPrice_v1:
      type: object
      properties:
        product_id:
          description: The Product ID for the index
          type: string
          example: 'COIN50'
        status:
          description: The status of the index price
          type: string
          example: 'STATE_OK'
        timestamp:
          description: The timestamp of the index price
          type: string
          example: '2024-11-11T20:42:33Z'
        price:
          description: The latest index price
          type: string
          example: '388.91871799439963'
        price_24hr_change:
          description: The price 24hr change percent (negative values denote change down)
          type: string
          example: '8.940862872710408'
    IndexCandles_v1:
      type: object
      properties:
        start:
          description: The start time of the aggregation
          type: string
          example: '2024-10-31T00:00:00Z'
        open:
          description: The opening price at the start of the aggregation time period
          type: string
          example: '311.4512360891112'
        high:
          description: The maximum price in the aggregation time period
          type: string
          example: '312.4418815371496'
        low:
          description: The minimum price in the aggregation time period
          type: string
          example: '297.4296073392959'
        close:
          description: The closing price at the end of the aggregation time period
          type: string
          example: '299.5950052685418'
    Instrument_v1:
      type: object
      properties:
        instrument_id:
          description: A unique integer identifier to represent the instrument
          type: string
          example: 22653087021498353
        instrument_uuid:
          description: A UUID to represent the instrument
          type: string
          format: uuid
          example: 97645486-8058-4d98-aa1e-5ab2685d09c8
        symbol:
          description: A human readable representation of the instrument
          type: string
          example: BTC-USDC
        type:
[...]
